{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Your Files{% endblock %}
{# simplest template for listing the directory #}
{% block scripts %}
<script src="{% static 'js/react.min.js' %}"></script>
<script src="{% static 'js/react-dom.min.js' %}"></script>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/browser.min.js' %}"></script>
{% endblock %}
{% block content %}
<h1>{{ directory_name }}</h1>
<ul>
{% for file_tuple in alldata %}
    <li>
        <div>
        {{ file_tuple.0 }}
        <ol>
            {% for file in file_tuple.1 %}
            <li>
                <div>
                    <a href="{% url 'directory_download_file' file_tuple.0 file %}">Download {{ file }}</a>
                    <br>
                    <a href="{% url 'directory_view_file' file_tuple.0 file %}">View {{ file }}</a>
                </div>
            </li>
            {% endfor %}
        </ol>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}
