{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ file_name }}{% endblock %}
{% block scripts %}
<script src="{% static 'js/react.min.js' %}"></script>
<script src="{% static 'js/react-dom.min.js' %}"></script>
<!--//try loading mins for all to reduce code loading time-->
<script src="{% static 'js/browser.min.js' %}"></script>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'CryptoJS/rollups/aes.js' %}"></script><script src="{% static 'CryptoJS/components/mode-ctr.js' %}"></script>
<script src="{% static 'CryptoJS/rollups/tripledes.js' %}"></script><script src="{% static 'CryptoJS/components/mode-cfb.js' %}"></script>
<script src="{% static 'CryptoJS/rollups/rc4.js' %}"></script><script src="{% static 'CryptoJS/components/mode-ecb.js' %}"></script>
<script src="{% static 'CryptoJS/components/pad-nopadding.js' %}"></script>
<script src="{% static 'src/test.js' %}"></script>
<script src="{% static 'src/aesdecrypt.js' %}"></script>
<script src="{% static 'src/tdesdecrypt.js' %}"></script>
<script src="{% static 'src/rc4decrypt.js' %}"></script>
{% endblock %}

{% block content %}

<div id="error"></div>
<div id="lol">
    <h2>Enter your chosen encryption schema</h2>
    <div id="decryption_div">

    </div>
    <script src="{% static 'src/render.jsx' %}" type="text/babel"></script>
    <input type="button" value="Decrypt file!" id="decrypt_button"
           onClick="decrypt(`{{ file_str }}`, '{{ file_name }}')"/>
</div>

<div id="text_file"></div>
{% endblock %}